language: java
install: true

jdk:
  - openjdk11

dist: trusty

script:
  - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh
  - chmod +x $TRAVIS_BUILD_DIR/install-jdk.sh
  - export JAVA_HOME=$HOME/openjdk11

before_install:
  - chmod +x mvnw

after_success:
  - bash <(curl -s https://codecov.io/bash)
